@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{ font-family: "Poppins", sans-serif;}

.section-1{
  width: auto;
  height: auto;
  padding: 0 100px;
  margin: 0 ;

  background-color: rgb(255, 255, 244);
}
.bar{
    display: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
   
}
li{
    list-style: none;
    border: 1px solid rgb(55, 54, 54);
    border-radius: 5px;
    padding: 5px;
    width: 90px;
    text-align: center;
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.4) inset;
}
.div-nav{
width: 50%;

}
.div-nav img{
width: 45%;
}
.section-1-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.btn{
    padding: 10px;
    font-size: 1rem;
    color: aliceblue;
    background-color: #2A1E59;
    border-radius: 5px;
    border: none;
    background-image: 5px;
    display: flex;
  align-items: center;
}
.section-1-div-1{
    width: 45%;
    padding: 20px;
    align-items: center;
   gap: 30px;
  
}
h2{
    font-size: 4rem;
    font-weight: 800px;
  }
.section-1-div-2{
    width: 45%;
    padding: 20px;
    align-items: center;
    position: relative;
}
.section-1-div-2 img{
    width: 100%;
    height: 80%;
}

.section-1-div-2-2{
    position: absolute;
    top: 0;
    left: 0;
}
/* section-1 responsible */
@media screen and (max-width:576px) {
    .section-1{

        padding: 20px 10px;

      }
      .nav{
          display: flex;
          justify-content: space-between;
          align-items: center;
      }
      .ul{
          display: none;
         
      }
      .bar{
        display:inline;
        color: black;
    }
      li{
          list-style: none;
      }
      .div-nav{
      width:auto;
      
      }
      .div-nav img{
      width: 60%;
      }
      .section-1-div{
          display: flex;
          flex-direction: column;
      }
      
      .btn{
    margin: 0 auto;
      }
      .section-1-div-1{
          width: auto;
         
      }
      h2{
        font-size: 3rem;
      }
      .section-1-div-2{
          width: auto;

      }
}

/* section-2 */

.section-2{
    width: auto;
    height: auto;
    padding: 50px 100px;
    margin: 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    
  }
  .sec-2-card{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px;
    background-color: white;
    border-radius: 5px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5) inset; 
  }
  .section-2-div-1{
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .section-2-div-2{
    width: 45%;
    height: auto;
  }
  .section-2-div-2 img{
    width:100%;
    height: 100%;
  }
  h3{
    font-size: 1.5rem;

  }
  /* section-2 responsible */
@media screen and (max-width:576px) {
    .section-2{

        padding: 20px 10px;
          flex-direction: column-reverse;
        }
        .section-2-div-1{
            width: auto;
            gap: 30px;
          }
          .section-2-div-2{
            width: auto
          }
           .sec-2-card{
            flex-direction: column;
           }
           h3{
            text-align: center;
           }
      }
/* section-3 */
.section-3{

    width: auto;
    height: auto;
    padding: 50px 100px;
    margin: 0 ;

}
.card-div{
    display: flex;
    justify-content: space-between;
    align-content: center;
  
}
.sec-3-card{
    width: auto;
    height: auto;
    padding: 40px 10px;
    border-radius: 20px;

box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
background: rgb(255, 255, 255);
}
.sec-3-card>img{
    height: 40%;
    width: 40%;
  padding: 10px;
  margin: 0 auto;
  display: block;

}


.section-3-div-1{
    display: flex;
    gap: 20px;
}
/* section3 responsible */
@media screen and (max-width:576px) {
    .section-3{

        padding: 20px 10px;

      }
h4{
    text-align: center;
}
.section-3-div-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mobile-view{
    display: flex;
    flex-direction: column-reverse;
}
    }